<h1><a routerLink="/"><button>homepage</button></a>
<a routerLink="/displayhelloworld"><button>displayhelloworld</button></a>
<a routerLink="/showhellobutton"><button>showhellobutton</button></a>
<a routerLink="/displayname"><button>displayname</button></a>
  <a routerLink="/counter"><button> counter</button></a>
<a routerLink="/simpleform"><button> simpleform</button></a>
<a routerLink="/userage"><button> userage</button></a>
<a routerLink="/usergreeting"><button>usergreeting</button></a>
<a routerLink="/calculator"><button> calculator</button></a>
<a routerLink="/textlength"><button> textlength</button></a>
<a routerLink="/currencyconverter"><button>currencyconverter</button></a>
<a routerLink="/evenoddchecker"><button>evenoddchecker</button></a>
<a routerLink="/wordreverser"><button>wordreverser</button></a>
<a routerLink="/showdate"><button> showdate</button></a>
<a routerLink="/showusername"><button>showusername</button></a>
<a routerLink="/multiplicationtable"><button>multiplicationtable</button></a>
<a routerLink="/simplelogin"><button>simplelogin</button></a>
<a routerLink="/fahrenheittocelsius"><button> fahrenheittocelsius</button></a>
<a routerLink="/bookmarklist"><button>bookmarklist</button></a>
<a routerLink="/charactercounter"><button> charactercounter</button></a>
<a routerLink="/palindromechecker"><button> palindromechecker</button></a>
<a routerLink="/temperatureconverter"><button> temperatureconverter</button></a>
<a routerLink="/shoppinglist"><button> shoppinglist</button></a>
<a routerLink="/factorialcalculator"><button> factorialcalculator</button></a>
<a routerLink="/todomanager"><button> todomanager</button></a>
<a routerLink="/guessnumbergame"><button> guessnumbergame</button></a>
<a routerLink="/wordcounter"><button> wordcounter</button></a>
<a routerLink="/randomnumbergenerator"><button> randomnumbergenerator</button></a>
<a routerLink="/multiplicationchecker"><button> multiplicationchecker</button></a>
<a routerLink="/uppercaseconverter"><button> uppercaseconverter</button></a>
<a routerLink="/wordshuffler"><button> wordshuffler</button></a>
  <a routerLink="/bmisolver"><button> BmisolverComponent</button></a>
<a routerLink="/usernamevalidator"><button> usernamevalidator</button></a>
<a routerLink="/interestcalculator"><button> interestcalculator</button></a>
<a routerLink="/compoundinterestcalculator"><button> compoundinterestcalculator</button></a>
<a routerLink="/fibonaccigenerator"><button> fibonaccigenerator</button></a>
<a routerLink="/oddsumcalculator"><button> oddsumcalculator</button></a>
  <a routerLink="/currencyformatter"><button> currencyformatter</button></a>
<a routerLink="/randomquotedisplay"><button> randomquotedisplay</button></a>
<a routerLink="/uppercasegreeting"><button> uppercasegreeting</button></a>
<a routerLink="/divisiblechecker"><button> divisiblechecker</button></a>
<a routerLink="/namegenerator"><button> namegenerator</button></a>
<a routerLink="/agegenerator"><button> agegenerator</button></a>
<a routerLink="/spellingchecker"><button> spellingchecker</button></a>
<a routerLink="/englishchecker"><button> englishchecker</button></a>
<a routerLink="/productlist"><button> productlist</button></a>
<a routerLink="/"chatbot><button> chatbot</button></a>
<a routerLink="/todolist"><button> todolist</button></a>
<a routerLink="/interactive-quiz"><button> interactive-quiz</button></a>
<a routerLink="/contactform"><button> contactform</button></a>
<a routerLink="/drawing-board"><button> drawing-board</button></a>
</h1>


<router-outlet></router-outlet>
